* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url(./ASSESSTS/IMAGES/123.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  > h1 {
    text-align: center;
    color: black;
    font-size: 40px;
    margin-top: 50px;
    font-weight: 800;
  }

  > h2 {
    text-align: center;
    color: black;
    font-style: italic;
    font-size: 40px;
    margin-top: 50px;
    font-weight: 800;
  }
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  > p {
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 50px;
    font-weight: 800;
  }
  > .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  > .links a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    background-color: darkorange;
    padding: 12px 24px;
    border-radius: 50px;
}
}
